{{/* {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- if and (gt (len $pages) 1) (in $pages . ) }} */}}
{{/* Limiting the navigation links to the same sections, not all of them */}}
<nav class="paginav">
  {{/* {{- with $pages.Next . }} */}}
  {{ if .NextInSection }}
  <a class="prev" href="{{ .NextInSection.Permalink }}">
    <span class="title">« {{ i18n "prev_page" }}</span>
    <br>
    <span>{{- .NextInSection.Name -}}</span>
  </a>
  {{- end }}
  {{/* {{- with $pages.Prev . }} */}}
  {{ if .PrevInSection }}
  <a class="next" href="{{ .PrevInSection.Permalink }}">
    <span class="title">{{ i18n "next_page" }} »</span>
    <br>
    <span>{{- .PrevInSection.Name -}}</span>
  </a>
  {{- end }}
</nav>
{{/* {{- end }} */}}
